.Latest_Projects{
    font-size: 5rem;
    color: white;
    text-align: center;
    font-weight: 700;
    margin-top: 5%;
}

.prargraph{
    color: white;
    text-align: center;
}




/* RESPONSIVE */
@media only screen and (max-width: 768px){
    .Latest_Projects{
        font-size: 25px;
    }
    .prargraph{
        font-size: 10px;

    }
    .container{
        overflow: hidden;
    }

   }
   @media only screen and (max-width: 425px){
    .Latest_Projects{
        font-size: 25px;
    }
    .prargraph{
        font-size: 10px;

    }
    .container{
        overflow: hidden;
    }

   }